<div>
    <h3 *ngIf="noUser">Please input username.</h3>
    <h3 *ngIf="noPassword">Please input password.</h3>
</div>


<div class="container">
    <label for="uname"><b>Username</b></label>
    <input class="unameInput" type="text" placeholder="Enter Username" name="uname" [formControl]="username" required>

    <br>

    <label for="psw"><b>Password</b></label>
    <input class="passInput" type="password" placeholder="Enter Password" name="psw" [formControl]="password" required>

    <br>

    <button class="loginButton" (click)="loginUser()" type="submit">Login</button>
    <p class="paragraphAlign">Don't have an account?<button class="regPageButton" (click)="showRegisterForm()">Register</button></p>
  </div>