.center{
    width: 100%;
    display: flex;
    justify-content: center;
    position:absolute;
    bottom: 0px;
    background-color: #ffcc66;
}

a{
    position: relative;
    margin-top: 1em;
    margin-left: 1em;
    text-decoration: none;
    color: #003566;
}

a:hover{
    color: #0084ff;
}