

<body>
    
        <div class="left">
            <img height="200px" width="200px" src="/assets/logo.jpg">
        </div>
        
        
        <div class="right">
            <app-log-out *ngIf="this.isLoggedIn()"></app-log-out>
            <button (click)="emitAlcoholChange('Wine')">WINE</button>
            <button (click)="emitAlcoholChange('Beer')">BEER</button>
            <button (click)="emitAlcoholChange('Whisky')">Spirits</button>
            <button (click)="emitAlcoholChange('All')">ALL</button>
            <h2 *ngIf="this.isLoggedIn()">Available money: {{this.userBalance}}$</h2>
            
        </div>

        <div>
            <app-authentication-manager></app-authentication-manager>
        </div>
    
    
</body>